<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<section id="navbar">
<ul id="mainbuttons">
    <li class="navbutton"><a href="/profile"><img class="bigmainbutton" src="images/profileicon.png"></a></li>
    <li class="navbutton"><a href="/likelist"><img class="bigmainbutton" src="images/chaticon.png"></a></li>
</ul>
</section>