<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<section id="navbar">
<ul id="mainbuttons">
    <li class="navbutton"><a href="/profile"><img class="bigmainbutton" src="images/profileicon.svg"></a></li>
    <li class="navbutton"><a href="/likelist"><img class="bigmainbutton" src="images/chaticon.svg"></a></li>
</ul>
</section>