<%- include('partials/head'); -%>
<body>
    
    <nav>
        <h3>Matches</h3>

    </nav>
    <h1></h1>
    <h2><%= musicrandom %></h2>
    <button id="likebutton">Like</button>
    <button id="dislikebutton">Dislike</button>
</body>
</html>