<%- include('partials/head'); -%>
<%- include('partials/header'); -%>
<section class="login">
    <h2 class="signin">Sign in</h2>
    <article class="loginarticle">
        <p>Email</p>
        <form class="loginform" method="get">
            <input type="text" placeholder="Email">
        </form>
    </article>
    <article class="loginarticle">
        <p>Password</p>
        <form class="loginform" method="get">
            <input type="text" placeholder="Password">
        </form>
        <p id="forgotPassword">Forgot password?</p>
    </article>
    <article class="loginarticle">
        <form method="get" action="/main">
            <button class="loginbutton" type="submit">Sign in</button>
        </form>
    </article>
</section>