<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<h2 class="signin">Sign in</h2>
<p>Email</p>
<img class="emailicon" src="images/email_icon.png">
<p>Password</p>
<img class="keyicon" src="images/key_icon.png">
<p>Forgot password?</p>
<form method="get" action="/main">
    <button type="submit">Sign in</button>
</form>