<%- include('partials/head'); -%>
<%- include('partials/header'); -%>
<section class="login">
    <h2 class="signin">Sign in</h2>
    <article class="loginarticle">
        <p>Email</p>
        <form method="get">
            <input type="text">
        </form>
    </article>
    <article class="loginarticle">
        <p>Password</p>
        <form method="get">
            <input type="text">
        </form>
        <p>Forgot password?</p>
    </article>
    <article class="loginarticle">
        <form method="get" action="/main">
            <button type="submit">Sign in</button>
        </form>
    </article>
</section>